.appCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #2d2f52;
}

.appInput {
  font-family: cursive;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.002rem;
  color: #215965;
  font-weight: 600;
  text-align: left;
}

.appInputText {
  width: 100%;
  border: 2px solid #413e3e;
  background-color: transparent;
  font-family: cursive;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.002rem;
  color: #fff;
  font-weight: 600;
  box-sizing: border-box;
  padding: 8px 0px 8px 8px;
  border-radius: 8px;
  margin: 8px 0px 0px 0px;
}

.alignIcons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.icon1 {
  padding: 16px;
  border-radius: 50px;
  background-color: #334c51;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  cursor: pointer;
}

.icon2{
  padding: 16px;
  border-radius: 50px;
  background-color: #818788;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  cursor: pointer;
}

.icon1:active {
  opacity: 0.8;
}
